%section
  .page-header 
    %h1 Introductions
  .row
    .span-one-third
      %h3 I am a Developer
      I am a passionate Ruby on Rails Developer who really enjoys 
      %span.stand-out delivering 
      well crafted code using agile principals. I thrive on small teams because I love being involved in all areas of development including setting up and tuning the production environment.
    .span-one-third
      %h3 Interests
      I love spending time with my family and trying really hard to be a good husband and father. I'm kind of an exercise freak in that I run, cycle, and do resistance training almost every day. Sometimes, this leads to me competing in 
      = link_to('crazy events', '#', {:title => 'Tazered at ToughMudder', :rel => 'popover-img', 'data-content' => "#{image_tag('/assets/perry-tazered.png')}"})
    .span-one-third
      %h3 Currently
      I lalda

