- title "Perry Hertler - blog"
%section
  .page-header 
    %h1 Blog
  .row
    .span
      Blogger.com integration or custom Blog is coming soon, but for now checkout
      = link_to('blogger blog', "http://blog.hertler.org")