- title "Hi, I'm Perry"

%section.thirtyseven
  .row.header-row
    .span12
      %h2.center
        Hi, I'm 
        = link_to('Perry', 'https://github.com/perryqh')
        %span.dot .
           
    .span12.center= image_tag('beard.png', {:width => 110, :height => 121})
      
  .row
    .span12.center.explain
      %h2 
        I am passionate Ruby on Rails Developer who really enjoys delivering well crafted code using eXtreme Programming development practices and Scrum for project organization.
    .span12.center
      %h3 
        Test Driven Design and Development
    .span6.offset3.center
      .summary
        I particularly enjoy Test Driven Development especially with ruby. Mentoring developers on how to TDD is fulfilling in that I am proactively reducing the amount of unmaintainable code in the world. 
      .summary  
        %span.stand-out I get things done...the right way.
        I mercilessly refactor code, but this doesn't slow things down. It speeds them up! My teams have delivered over 30 applications on time, on budget, and feature complete. 
      .summary
        I thrive on small teams because I love being involved in all areas of development. It's great to deliver ground-breaking products with teams that continiously improve.
      
        

