.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "perry hertler", root_url, :class => :brand
      = render_navigation
      #branding-links
        = link_to image_tag('github.png'), "http://github.com/perryqh", {:rel => 'twipsy', :title => 'github'}
        = link_to image_tag('linkedin.png'), "http://www.linkedin.com/in/perryhertler", {:rel => 'twipsy', :title => 'linkedin'}